/* Show title of unread tabs with red and italic font */
/*
:root.sidebar tab-item.unread .label-content {
  color: red !important;
  font-style: italic !important;
}
*/

/* Add private browsing indicator per tab */
/*
:root.sidebar tab-item.private-browsing tab-label:before {
  content: "🕶";
}
*/

/* hide the close button */
tab-item tab-closebox {
  display: none;
}

/* make label on the active tab bold */
tab-item.active .label-content {
  font-weight: bold !important;
}

/* add bar in container color to the right */
:root.sidebar .contextual-identity-marker {
  top: 0 !important;
  right: 0em !important;
  bottom: 0 !important;
  width: 0.7em !important;
  mask-image: linear-gradient(to left, #000000FF,#000000FF, #00000000);
  margin: 0 !important;
  z-index: 0;
  
}
  /* change the base box to layout position:absolute box, from the root container box to the tab item */
:root.group-tab li {
  position: relative;
}


/* Configure TST Active Tab in Collapsed Tree */
::part(extra-contents-by-tst-active-tab-in-collapsed-tree_piro_sakura_ne_jp tab-container) {
  margin-left: 30%;
}
::part(extra-contents-by-tst-active-tab-in-collapsed-tree_piro_sakura_ne_jp tab) {
  background: #282828;
  font-size: 80%;
}

/* hide the new tab button 
.newtab-button-box {
  display: none;
}
#tabbar {
  bottom: 0 !important; 
}*/


/* background for favicons */
tab-item tab-favicon {
  margin-right:4px;
}
tab-item:not(.group-tab):not(.loading) tab-favicon img {
  /*background-color: currentcolor;
  border-radius: 3px;
  box-shadow: 2px 2px 1px, 2px -2px 1px, -2px -2px 1px, -2px 2px 1px;
  box-shadow: 0 0 1px;
  border: solid 1px;*/
  filter:drop-shadow(0 0 0px) drop-shadow(0 0 1px) drop-shadow(0 0 2px) drop-shadow(0 0 3px); drop-shadow(0 0 3px);
}
tab-item.group-tab:not(.loading) tab-favicon img,
::part(extra-contents-by-tst-active-tab-in-collapsed-tree_piro_sakura_ne_jp favicon){
  filter:drop-shadow(0px 0px 1px) drop-shadow(0px 0px 1px) drop-shadow(0px 0px 1px);
}
